<table class="table">
  <thead>
    <tr>
      <th scope="col" class="p-4">Name</th>
      <th scope="col" class="p-4">size</th>
      <th scope="col" class="p-4">laste modified</th>
      <th scope="col" class="text-right p-4"><i class="fas fa-bars icon-semi-size"></i><i class="fas fa-caret-down icon-sm-size"></i></th>
    </tr>
  </thead>
  <tbody>
    <tr scope="row" *ngFor="let item of items">
      <td scope="col" class="p-4">
        <i *ngIf="item['.tag'] === 'folder'" class="fas fa-folder icon-semi-size"></i>
        <img *ngIf="item.thumb_image"   [src]=sanitizer(item.thumb_image) class="img-thumbnail">
        <i *ngIf="!item.name.endsWith('jpg') && item['.tag'] !== 'folder'" class="far fa-file icon-semi-size"></i>
        <a [routerLink]="item.path_lower">{{ item.name  }}</a>
      </td>
      <td scope="col" class="p-4">{{ item.size }}</td>
      <td scope="col" class="p-4">{{ item.client_modified }}</td>
      <td scope="col" class="text-right p-4"> <i class="fas fa-ellipsis-v"></i></td>
    </tr>
  </tbody>
</table>
<!--
http://via.placeholder.com/100x100-->
<!--*ngIf="item['.tag'] === 'file' &&-->
