<table class="table">
  <thead>
    <tr>
      <th scope="col" class="p-4">Name</th>
      <th scope="col" class="p-4">size</th>
      <th scope="col" class="p-4">laste modified</th>
      <th scope="col" class="text-right p-4"><i class="fas fa-bars icon-semi-size"></i><i class="fas fa-caret-down icon-sm-size"></i></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <td class="p-4">file image
        <a [routerLink]="item.path_lower">{{ item.name  }}</a>
      </td>
      <td class="p-4">size</td>
      <td class="p-4">date</td>
      <td class="text-right p-4"> <i class="fas fa-ellipsis-v"></i></td>
    </tr>
  </tbody>
</table>
