<div class="form-wrapper shadow p-3 mb-5 bg-white rounded border border-light">
  <img src="assets/img/dropbox-icon.png"/>
  <p *ngIf="failedLoggedIn">Failed to login, try again!</p>
  <form>
    <div class="form-group">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">username</div>
        </div>
        <input name="username" type="text" class="form-control form-control-lg" [(ngModel)]="userInput.username">
      </div>
    </div>
    <div class="form-group">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">password</div>
        </div>
        <input name="password" type="password" class="form-control form-control-lg" [(ngModel)]="userInput.password">
      </div>
    </div>
    <div class="form-group">
      <button (click)="login()" class="btn btn-outline-primary btn-block float-left">Login</button>
      <button class="btn btn-primary btn-block float-right">Register</button>
    </div>
  </form>
</div>
