app-navigation {
    width:20%;
    height:100vh;
    position:fixed;
    left:0;
    top:0;
    border-right:1px solid rgb(207, 207, 207);
    background:rgb(230, 229, 229);
}
app-item-component {
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.main-top-menu {
    width:80%;
    position:fixed;
    top:0;
    right:0;
    z-index:40;
    box-sizing:border-box;
    border-bottom:1px solid rgb(207, 207, 207);
    background:white;
}
.flex-row, .flex-row-center, .flex-column, .flex-dropleft {
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.flex-row-center {
    align-items:center;
}
.flex-column {
    flex-direction: column;
}
.flex-dropleft {
    align-items: center;
}
app-navigation {
    width:20%;
    margin-right:50px;
    border-right:1px solid rgb(207, 207, 207);
}
.search {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left:auto;
}
.search {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left:auto;
}
.form-control {
    border-radius: .95rem;
}
.input-group>.input-group-append>.btn, .input-group>.input-group-append>.input-group-text, .input-group>.input-group-prepend:first-child>.btn:not(:first-child), .input-group>.input-group-prepend:first-child>.input-group-text:not(:first-child), .input-group>.input-group-prepend:not(:first-child)>.btn, .input-group>.input-group-prepend:not(:first-child)>.input-group-text {
    border-top-right-radius: .95rem;
    border-bottom-right-radius: .95rem;
}
@keyframes swing {
    20% { transform: rotate3d(0, 0, 1, 20deg); }
    40% { transform: rotate3d(0, 0, 1, -15deg); }
    60% { transform: rotate3d(0, 0, 1, 10deg); }
    80% { transform: rotate3d(0, 0, 1, -10deg); }
    to { transform: rotate3d(0, 0, 1, 0deg); }
}
.alert-animation:hover {
    transform-origin: top center;
    animation-name: swing;
    animation-duration: 4s;
}
.dropleft .dropdown-toggle::before {
    display: inline-block;
    width: 0;
    height: 0;
    margin-right: .255em;
    vertical-align: 0;
    content: "";
    border: 0;
    border-right: 0;
    border-bottom: 0;
}
.dropleft > .far.fa-smile.icon-margin {
    margin-left:0;
}
.dropdown-item {
    cursor: pointer;
}
.dropdown-menu em {
    font-size:12px;
}
