<app-navigation></app-navigation>
<section class="main-top-menu p-4">
    <article class="flex-row-center">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Breadcrumb placeholder</li>
            </ol>
        </nav>
        <form class="search form-inline my-2 my-lg-0">
            <div class="input-group">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-outline-success my-2 my-sm-0 input-group-text" type="submit"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>
        <i class="far fa-bell icon-margin alert-animation"></i>
        <div class="dropleft">
            <i class="far fa-smile icon-margin dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div class="flex-column flex-dropleft">
                    <div class="flex-row-center">
                        <i class="far fa-smile icon-margin"></i>
                        <h6 class="dropdown-header">username</h6>
                    </div>
                    <div class="dropdown-divider"></div>
                    <em>4.34 GB of 9 GB used</em>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Settings</a>
                    <a class="dropdown-item" href="#">Install</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="logout()">Sign out</a>
                </div>
            </div>
        </div>
    </article>
</section>
<div class="card" style="width: 18rem;">
    <input type="file" id="file" (change)="upLoadFile($event)" class="card-header bg-primary text-center inputfile"/>
    <label for="file">Upload</label>
    <div class="card-body">
        <a href="#" class="card-link">New Shared folder</a>
        <a href="#" class="card-link">New folder</a>
        <a href="#" class="card-link">Show deleted items</a>
    </div>
</div>
<app-item-component></app-item-component>
