.breadcrumb, ol.breadcrumb {
    padding:0;
    background-color: transparent;
    border-radius: 0;
    color:#222;
    font-size:17px;
    text-transform: capitalize;
}
ol.breadcrumb {
    margin:0;
}
.breadcrumb-item.active {
    color:#222;
}