<div class="dropleft">
    <i class="far fa-smile icon-margin dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <div class="flex-column flex-dropleft">
            <div class="flex-row-center">
                <i class="far fa-smile icon-margin"></i>
                <h6 class="dropdown-header">username</h6>
            </div>
            <div class="dropdown-divider"></div>
            <em>4.34 GB of 9 GB used</em>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Settings</a>
            <a class="dropdown-item" href="#">Install</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logout()">Sign out</a>
        </div>
    </div>
</div>