@import "~bootstrap/dist/css/bootstrap.min.css";
/* You can add global styles to this file, and also import other style files */
app-root {
  width:100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body {
    height:100vh;
    margin:0;
    padding:0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .icon-margin {
    margin: 0 20px;
    font-size:25px;
  }
  .icon-semi-size {
    margin:0 5px;
    font-size:17px;
  }
  .icon-sm-size {
    font-size:14px;
  }
  .icon-big {
    font-size:50px;
    color:lightgray;
  }
  .bg-primary {
    background-color: #007EE5;    
  }
  .card-body {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
.flex-row .card .card-link {
    margin-left: 0;
}
.card-header a, .card-header a:hover {
  color:white;
  text-decoration:none;
}
.flex-row, .flex-row-center, .flex-column, .flex-dropleft {
  display: flex;
  flex-basis: 100%;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.flex-row-center {
  align-items:center;
}
.flex-column {
  flex-direction: column;
}
.flex-dropleft {
  align-items: center;
}
.form-control {
  border-radius: .95rem;
}