@import "~bootstrap/dist/css/bootstrap.min.css";
/* You can add global styles to this file, and also import other style files */
app-root {
  width:100%;
}
body {
    height:100vh;
    margin:0;
    padding:0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .icon-margin {
    margin: 0 20px;
    font-size:25px;
  }
  .icon-semi-size {
    margin:0 5px;
    font-size:17px;
  }
  .icon-sm-size {
    font-size:14px;
  }
  .bg-primary {
    background-color: #007EE5;    
  }
  .card-body {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
.flex-row .card .card-link {
    margin-left: 0;
}
.card-header a, .card-header a:hover {
  color:white;
  text-decoration:none;
}