<form #formsearch="ngForm" class="form-inline my-2 my-lg-0">
    <div class="input-group">
        <input  name="keyWord" 
                [(ngModel)]="keyWord" 
                #title="ngModel" 
                class="form-control" 
                type="search" 
                placeholder="Search" 
                aria-label="Search"
                (keyup)="startSearch(); submitSearch()">
        <div class="input-group-append">
            <button class="btn btn-outline-success my-2 my-sm-0 input-group-text" type="submit" 
            (click)="startSearch(); submitSearch()">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
</form>